body {
   background-image: url('../images/img.jpg');
}

.container {
    background-color: #2b2929;
    border: 1px solid black;
    height: 275px;
    width: 750px;
    margin: 15% auto;
    text-align: center;
    opacity: 0.7;
}

.inputs {
   opacity: 0.6;
}

h1 {
    color: white;
}
   
p {
    color: white;
    font-size: 20px;
}

#input {
    width: 30vw;
    height: 5vh;
}

#btn {
    width: 8vw;
    height: 6vh;
}

.inputs #display {
    font-size: 30;
}

#refresh {
    width: 8vw;
    height: 6vh;
    margin-top: 1rem;
    background: #aaa8a8;
    border-color: #aaa8a8;
}